*
!src/
!tests/
!workflow/
!config/matrix.json
!config/smoketest_training.json
!config/synthetic_plan.json
!config/mimic_tables.json
!config/verbalization_template.md
!resources/synthetic/
!translation/note_parts.py
!translation/markers.py
!translation/collect.py
!pyproject.toml
!pixi.lock
!README.md
!LICENSE
**/__pycache__/
