*
!src/
!tests/
!config/matrix.json
!config/smoketest_training.json
!config/synthetic_plan.json
!config/mimic_tables.json
!config/verbalization_template.md
!resources/synthetic/
!pyproject.toml
!uv.lock
!README.md
!LICENSE
!.python-version
**/__pycache__/
